* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(ancient-roman-arena-gladiators-fight-600nw-1870716847.webp);
  background-size: cover;
}

.container {
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 500px;
  background-color: rgb(29, 76, 220);
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.battle-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
  text-align: center;
  border: 1px solid;
  width: 100%;
}

.playerOne-box {
  border: 2px solid black;
  padding: 20px;
  width: 200px;
  height: 250px;
  border: 5px solid rgb(81, 46, 46);
  background-color: silver;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.computer-box {
  border: 2px solid black;
  padding: 20px;
  width: 200px;
  height: 250px;
  border: 5px solid rgb(81, 46, 46);
  background-color: silver;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.character {
  width: 100px;
}

.options {
  border: 1px solid black;
  position: absolute;
  left: 5%;
  display: flex;
  flex-direction: column;
  top: 20%;
  gap: 20px;
}

.player-side {
  border: 1px solid;
}

.computer-side {
  border: 1px solid;
}
